.full-image img {
	max-width: 100%;
    height: auto;
    
    background-image:url('../../img2/basc.jpg');
   

 width: auto\9; /* ie8 */ 
   
   
    }


.logo {width:250px !Important; height:35px !important; margin-top:15px; text-align:center !Important; background-image:none !Important; font-size:20px; color:#FFFFFF; }




.homebox {background-color:#0f2c3f; width:60%; float:left; height:10%; padding:30px; font-size:20px; color:#FFFFFF; positions:absolute; 
bottom:30px; float:left; margin-top:50px; !important; float:left; 

 }


.text-info h3 {margin:20px 0px 5px 0px !important; clear:left !important; text-shadow: 0px !important; }

.text-info p {font-size:14px !Important; }
